.header-container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;

    .header-parent {
        width: 100%;

        .header-top {
            width: 80%;
            margin: 0 auto;
            padding: 30px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .header-input {
                width: 400px;
                border: 1.8px solid gray;
                height: 40px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-around;
                border-radius: 4px;

                input {
                    padding: 15px 5px;
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    font-size: 20px;
                    outline: none;
                }

                .icon-se {
                    font-size: 22px;
                    margin-right: 20px;
                    color: gray;
                }
            }

            .cos {
                p {
                    font-size: 15px;
                    text-align: end;
                    color: #999;
                    margin-bottom: 6px;
                }


                div {
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }

        .header.getFix{
            position: fixed;
            z-index: 999;
            top: 0px;
            background-color: #facc24;
        }

        .header {
            width: 100%;
            background-color: #ffd333;
            // height: 40px;
            padding: 8px 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 auto;
            // margin-bottom: 50px;
            position: relative;

            .drop {
                display: none;
            }

            .dropmenu.active {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                transition: var(--speed) ease;
                z-index: 999;
                position: absolute;
                top: 80px;
                left: 50px;
                background-color: white;
                width: 200px;

                li {
                    padding: 12px 16px;

                    a {
                        color: #3d464d;
                    }
                }

                li:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }


            .dropmenu.inactive {
                opacity: 0;
                visibility: hidden;
                transform: translateY(0);
                transition: var(--speed) ease;
                position: absolute;
            }

            ul {
                // width: 70%;
                display: flex;
                align-items: center;
                gap: 15px;
                font-weight: 600;
                font-size: 17px;
                color: #3d464d;

                li {
                    padding: 12px 16px;

                    a {
                        color: #3d464d;
                    }
                }

                li:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }

            .header-icon {
                display: flex;
                gap: 22px;


                .icon-head {
                    font-size: 50px;
                    color: #3d464d;
                    padding: 11px;
                }

                .icon-head:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                }

                .heart {
                    position: relative;

                    .heart-count {
                        width: 15px;
                        height: 15px;
                        font-size: 14px;
                        border-radius: 50%;
                        background-color: white;
                        position: absolute;
                        top: 5px;
                        text-align: center;
                        right: 5px;
                    }
                }


                .cart-icon {
                    position: relative;

                    .cart-count {
                        width: 15px;
                        height: 15px;
                        font-size: 14px;
                        border-radius: 50%;
                        background-color: white;
                        position: absolute;
                        top: 5px;
                        text-align: center;
                        right: 5px;
                    }
                }
            }
        }
    }
}


@media (max-width: 1022px) {
    .header {
        ul {
            display: none !important;
        }
    }

    .drop {
        display: block !important;
    }

    .header-top {
        .header-input {
            display: none !important;
        }
    }
}