@media (max-width: 1023px) {
    .register-parent{
        width: 40% !important;
    }    
}
@media (max-width: 665px) {
    .register-parent{
        width: 55% !important;

        label{
            font-size: 14px !important;
        }
    }    
}
@media (max-width: 450px) {
    .register-parent{
        width: 70% !important;

        label{
            font-size: 14px !important;
        }
    }    
}