.billing-container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;

    .billing-parent {
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;

        form {
            width: 50%;
            margin: 0 auto;

            input {
                width: 100%;
                padding: 3px 4px;
                font-size: 19px;
                outline-color: blue;
            }

            div {
                margin: 14px 0;
            }

            button {
                padding: 8px 17px;
                width: 35%;
                font-size: 17px;
                background-color: #ffd333;
                color: #3d464d;
                border: 0;
                cursor: pointer;
                transition: all 0.5s;
                border-radius: 3px;
                margin-top: 15px;
            }

            button:hover {
                background-color: #3d464d;
                color: #fff;
            }
        }
    }
}