.home-container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;

    .home-parent {
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;

        .first-section-image {
            padding: 50px 0;
            width: 70%;
            height: 370px;
            background-image: url("https://stroyka.angular.themeforest.scompiler.ru/themes/default-ltr/assets/images/slides/slide-1.jpg");
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .first-section-text-parent {
                width: 50%;
                margin-left: 50px;

                .first-section-text {
                    width: 100%;

                    color: #3d464d;

                    .big {
                        font-size: 30px;
                        line-height: 34px;
                        font-weight: 700;
                        margin-bottom: 12px;
                        // font-family: "Roboto";
                    }

                    p {
                        line-height: 25px;
                        padding: 10px 0;
                        padding-bottom: 40px;
                    }

                    a {
                        padding: 10px 30px;
                        background-color: #ffd333;
                        color: #3d464d;
                        font-size: 22px;
                        border-radius: 3px;

                    }
                }
            }


        }

        .first-section-image2 {
            padding: 50px 0;
            width: 70%;
            height: 370px;
            background-image: url("https://stroyka.angular.themeforest.scompiler.ru/themes/default-ltr/assets/images/slides/slide-2.jpg");
            background-repeat: no-repeat;
            background-position: center;

            .first-section-text-parent {
                width: 50%;
                margin-left: 50px;

                .first-section-text {
                    width: 100%;

                    color: #3d464d;

                    .big {
                        font-size: 30px;
                        line-height: 34px;
                        font-weight: 700;
                        margin-bottom: 12px;
                    }

                    p {
                        line-height: 25px;
                        padding: 10px 0;
                        padding-bottom: 40px;
                    }

                    a {
                        padding: 10px 30px;
                        background-color: #ffd333;
                        color: #3d464d;
                        font-size: 22px;
                        border-radius: 3px;

                    }
                }
            }

        }

        .first-section-image3 {
            padding: 50px 0;
            width: 70%;
            height: 370px;
            background-image: url("https://stroyka.angular.themeforest.scompiler.ru/themes/default-ltr/assets/images/slides/slide-3.jpg");
            background-repeat: no-repeat;
            background-position: center;

            .first-section-text-parent {
                width: 50%;
                margin-left: 50px;

                .first-section-text {
                    width: 100%;

                    color: #3d464d;

                    .big {
                        font-size: 30px;
                        line-height: 34px;
                        font-weight: 700;
                        margin-bottom: 12px;
                    }

                    p {
                        line-height: 25px;
                        padding: 10px 0;
                        padding-bottom: 40px;
                    }

                    a {
                        padding: 10px 30px;
                        background-color: #ffd333;
                        color: #3d464d;
                        font-size: 22px;
                        border-radius: 3px;

                    }
                }
            }
        }


        .home-about {
            width: 100%;
            padding: 50px 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .home-free {
                width: 25%;
                display: flex;
                gap: 15px;
                align-items: center;
                border: 2px solid #d1cfcf;

                a {
                    width: 35%;

                    img {
                        width: 100%;
                    }
                }

                .home-free-child {
                    width: 100%;

                    p {
                        font-weight: 700;
                        font-size: 19px;
                        color: #3d464d;
                        padding-bottom: 3px;
                    }

                    span {
                        font-weight: 400;
                        font-size: 14px;
                        color: #3d464d;
                    }
                }
            }
        }



        .featured-parent {
            width: 100%;
            padding: 50px 0;

            .featured {
                display: flex;
                align-items: center;
                gap: 40px;

                h3 {
                    font-weight: 700;
                    font-size: 20px;
                    color: #3d464d;
                }

                div {
                    width: 82%;
                    height: 2px;
                    background-color: #d1cfcf;
                }
            }

            .featured-card-parent {
                width: 100%;
                // display: flex;
                // flex-wrap: wrap;
                // align-items: center;
                gap: 10px;
                padding: 40px 0;

                .featured-card {
                    height: 350px;
                    padding: 8px;
                    width: 100%;
                    border: 2px solid #d1cfcf;

                    img {
                        width: 90%;
                        height: 60%;
                        position: relative;
                    }

                    .new-absolute {
                        position: absolute;
                        top: 8px;
                        left: 10px;
                    }

                    .hot-absolute {
                        position: absolute;
                        top: 8px;
                        left: 10px;
                    }

                    .sale-absolute {
                        position: absolute;
                        top: 8px;
                        left: 10px;
                    }

                    .featured-card-text {
                        width: 80%;

                        // text-align: center;
                        p {
                            font-weight: 400;
                            font-size: 15px;
                            color: rgb(61, 70, 77);
                            line-height: 19px;
                            margin-left: 4px;
                            // flex-grow: 1;
                            height: 35px;
                            margin-top: 4px;
                        }

                        .reviews {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            span {
                                font-weight: 400;
                                font-size: 23px;
                                // color: #3d464d;
                                // line-height: 19px;
                                // margin-left: 4px;
                                // flex-grow: 1;
                            }
                        }


                        h3 {
                            margin-left: 4px;
                            font-weight: 700;
                            font-size: 16px;
                            color: #3d464d;
                            line-height: 16px;
                        }
                    }
                }
            }
        }


        .hundreds-parent {
            width: 100%;

            .hundreds {
                width: 100%;
                height: 200px;
                background-repeat: no-repeat;
                background-image: url("https://stroyka.angular.themeforest.scompiler.ru/themes/default-ltr/assets/images/banners/banner-1.jpg");

                .hundreds-text {
                    width: 50%;
                    margin: 0 auto;
                    text-align: center;
                    padding: 15px;

                    h2 {
                        font-size: 32px;
                        line-height: 34px;
                        font-weight: 700;
                        color: #3d464d;
                    }

                    p {
                        line-height: 25px;
                        padding: 11px 0;
                        color: #3d464d;
                        font-weight: 400;
                        padding-bottom: 40px;
                    }

                    a {
                        padding: 8px 14px;
                        font-weight: 550;
                        background-color: #ffd333;
                        color: #3d464d !important;
                        font-size: 15px;
                        border-radius: 3px;

                    }

                }

            }
        }

        .bestsellers-parent {
            width: 100%;
            padding: 60px 0;
            margin: 0 auto;

            .featured {
                width: 98%;
                display: flex;
                align-items: center;
                gap: 40px;
                margin: 0 auto;

                h3 {
                    font-weight: 700;
                    font-size: 20px;
                    color: #3d464d;
                }

                div {
                    width: 87%;
                    height: 2px;
                    background-color: #d1cfcf;
                }
            }

            .bestsellers-card-parent {
                width: 100%;

                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 24px;
                padding: 40px 0;
                
                
                .featured-card {
                    margin: 0 auto;
                    margin-bottom: 19px;
                    height: 350px;
                    padding: 8px;
                    width: 30%;
                    border: 2px solid #d1cfcf;
                    position: relative;

                    img {
                        width: 90%;
                        height: 60%;
                        position: relative;
                    }

                    .new-absolute {
                        position: absolute;
                        top: 8px;
                        left: 10px;
                    }

                    .hot-absolute {
                        position: absolute;
                        top: 8px;
                        left: 10px;
                    }

                    .sale-absolute {
                        position: absolute;
                        top: 8px;
                        left: 10px;
                    }

                    .featured-card-text {
                        width: 80%;

                        // text-align: center;
                        p {
                            font-weight: 400;
                            font-size: 15px;
                            color: rgb(61, 70, 77);
                            line-height: 19px;
                            margin-left: 4px;
                            // flex-grow: 1;
                            height: 35px;
                            margin-top: 4px;
                        }

                        .reviews {
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            span {
                                font-weight: 400;
                                font-size: 23px;
                                // color: #3d464d;
                                // line-height: 19px;
                                // margin-left: 4px;
                                // flex-grow: 1;
                            }
                        }


                        h3 {
                            margin-left: 4px;
                            font-weight: 700;
                            font-size: 16px;
                            color: #3d464d;
                            line-height: 16px;
                        }
                    }
                }
            }

        }

        .home-popular {
            width: 100%;
            padding-top: 80px;
            padding-bottom: 50px;

            .featured {
                display: flex;
                align-items: center;
                gap: 35px;

                h3 {
                    font-weight: 700;
                    font-size: 20px;
                    color: #3d464d;
                }

                div {
                    width: 82%;
                    height: 2px;
                    background-color: #d1cfcf;
                }
            }

            .home-popular-card-parent {
                width: 100%;
                padding: 50px 0;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 30px;

                .home-popular-card {
                    width: 30%;
                    padding: 15px;
                    display: flex;
                    gap: 20px;
                    box-shadow: 0 1px 11px #504f4f;

                    img {
                        width: 30%;
                        height: 120px;
                    }

                    .home-popular-text {
                        width: 70%;

                        h4 {
                            color: #3d464d;
                            font-size: 20px;
                            font-family: 'Roboto';
                        }

                        ul {
                            padding: 22px 0;

                            li {
                                font-weight: 400;
                                font-size: 14px;
                                color: #6c757d;
                                line-height: 22px;
                            }
                        }

                        div {
                            font-weight: 400;
                            font-size: 14px;
                            color: #1a66ff;
                            line-height: 21px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .home-news {
            width: 100%;
            padding: 50px 0;

            .featured {
                display: flex;
                align-items: center;
                gap: 40px;

                h3 {
                    font-weight: 700;
                    font-size: 20px;
                    color: #3d464d;
                }

                div {
                    width: 82%;
                    height: 2px;
                    background-color: #d1cfcf;
                }
            }

            .home-news-card-parent {
                width: 100%;
                height: 150px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 35px;

                .home-news-card {
                    // width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    img {
                        width: 40%;
                        height: 100%;
                    }

                    .home-news-card-text {
                        width: 70%;
                        padding-left: 20px;

                        span {
                            font-weight: 400;
                            font-size: 13px;
                            color: rgb(173, 173, 173);
                            line-height: 22.5px;
                            // padding-right: 15px;
                        }

                        h3 {
                            font-weight: 550;
                            padding: 10px 0;
                            font-size: 16px;
                            color: #3d464d;
                            line-height: 32px;
                        }

                        p {
                            font-weight: 600;
                            font-size: 13px;
                            color: rgb(61, 70, 77);
                            line-height: 24px;
                            font-family: 'Roboto';
                            padding-bottom: 10px;
                        }


                    }
                }
            }
        }


    }
}