.shopping-cart-container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;

    .shopping-cart-parent {
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;

        .total-bill {
            button {
                padding: 8px 17px;
                width: 15%;
                font-size: 17px;
                background-color: #ffd333;
                color: #3d464d;
                border: 0;
                cursor: pointer;
                transition: all 0.5s;
                border-radius: 3px;
                margin-top: 15px;
                margin-left: 24px;
            }

            button:hover {
                background-color: #3d464d;
                color: #fff;
            }
        }

        h1 {
            font-size: 35px;
            margin-bottom: 17px;
        }

        .remove-icon {
            margin: 0 auto;
            background-color: #ffd333;
            border: 0;
            padding: 5px 10px;
            // font-size: 15px;
            border-radius: 3px;
            color: #3d464d;
            cursor: pointer;
        }

        .remove-icon:hover {
            background-color: #e0b620;
        }
    }
}