.description-container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;

}

.description-parent {
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
}

.description-parent p {
    font-size: 17px;
    color: #504f4f;
    padding: 15px 0;
}