@media (max-width: 988px) {
    .wishlist-card-child {
        display: block !important;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    .wishlist-card-child img{
        margin: 0 auto;        
    }

    .wishlist-rating{
        display: block !important;
        width: 100% !important;
        margin: 0 auto;
    }

    .wishlist-rating-parent{
        width: 92% !important;
    }

    .wishlist-add{
        width: 48% !important;
        margin: 0 auto;
    }
}


@media (max-width: 574px) {
    .wishlist-add{
        display: block !important;
    }    
}