.about-container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;

    .about-parent {
        width: 100%;

        .about-bgimage {
            width: 100%;
            background-image: url("https://stroyka.angular.themeforest.scompiler.ru/themes/default-ltr/aboutus.d70bb30e96dbf88d.jpg");
            height: 450px;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            align-items: end;

            .about-bgimage-text {
                width: 71%;
                background-color: white;
                margin: 0 auto;
                border-radius: 5px;

                .about-bgimage-text-child {
                    width: 60%;
                    text-align: center;
                    margin: 0 auto;

                    h2 {
                        font-weight: 700;
                        font-size: 36px;
                        color: #3d464d;
                        line-height: 43.2px;
                        padding-bottom: 25px;
                    }

                    p {
                        font-weight: 400;
                        font-size: 16px;
                        color: #3d464d;
                        line-height: 26px;
                        padding: 40px 0;
                    }
                }


            }
        }


        .our-team {
            width: 70%;
            text-align: center;
            margin: 0 auto;
            padding-top: 50px;
            padding-bottom: 140px;

            .our-team-text {
                h2 {
                    font-weight: 700;
                    font-size: 36px;
                    color: #3d464d;
                    line-height: 43.2px;
                    padding-bottom: 25px;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    color: #3d464d;
                    line-height: 26px;
                }
            }

            .our-team-card-parent {
                width: 75%;
                display: flex;
                flex-wrap: wrap;
                margin: 0 auto;
                gap: 30px;
                padding: 50px;

                .our-team-card {
                    width: 30%;

                    img {
                        width: 100%;

                    }

                    h3 {
                        font-weight: 550;
                        font-size: 18px;
                        color: #3d464d;
                        padding: 10px 0;
                    }

                    p {
                        font-weight: 400;
                        font-size: 14px;
                        color: #3d464d;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1333px) {
    .our-team .our-team-card-parent {
        width: 100% !important;
    }
}

@media (max-width: 1023px) {
    .about-bgimage-text {
        width: 40%;

        .about-bgimage-text-child {
            width: 95% !important;

            p {
                padding: 30px 0 !important;
            }
        }
    }

    .our-team {
        width: 100% !important;
    }
}

@media (max-width: 675px) {
    .about-bgimage-text {
        width: 85% !important;

        .about-bgimage-text-child {
            width: 95% !important;

            p {
                padding: 30px 0 !important;
            }
        }
    }

    .our-team {
        margin-top: 40px !important;
    }

    .our-team-card {
        width: 50% !important;
        margin: 0 auto;
    }
}

@media (max-width: 535px) {
    .about-bgimage-text {
        width: 100% !important;

        .about-bgimage-text-child {
            width: 95% !important;

            p {
                padding: 20px 0 !important;
            }
        }
    }

    .our-team-card {
        width: 80% !important;
        margin: 0 auto;
    }
}