.admin-container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;

    .admin-parent {
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;

        button {
            margin: 15px 0;
            padding: 6px 40px;
            margin-left: 10px;
            background-color: #ffd333;
            border: 0;
            cursor: pointer;
        }

        .search {
            width: 18%;
            margin-left: 74px;
            // height: 25px;
            font-size: 17px;
            padding: 5px 3px;
        }

        button:hover {
            background-color: #f3c008;
        }

        .admin-card {
            display: flex;
            flex-wrap: wrap;

            .featured-card {
                margin: 0 auto;
                margin-bottom: 19px;
                height: 380px;
                padding: 8px;
                width: 23%;
                border: 2px solid #d1cfcf;
                position: relative;

                img {
                    width: 90%;
                    height: 60%;
                    position: relative;
                }

                .new-absolute {
                    position: absolute;
                    top: 8px;
                    left: 10px;
                }

                .hot-absolute {
                    position: absolute;
                    top: 8px;
                    left: 10px;
                }

                .sale-absolute {
                    position: absolute;
                    top: 8px;
                    left: 10px;
                }

                .featured-card-text {
                    width: 80%;

                    // text-align: center;
                    p {
                        font-weight: 400;
                        font-size: 15px;
                        color: rgb(61, 70, 77);
                        line-height: 19px;
                        margin-left: 4px;
                        // flex-grow: 1;
                        height: 35px;
                        margin-top: 4px;
                    }

                    .reviews {
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        span {
                            font-weight: 400;
                            font-size: 23px;
                            // color: #3d464d;
                            // line-height: 19px;
                            // margin-left: 4px;
                            // flex-grow: 1;
                        }
                    }


                    h3 {
                        margin-left: 4px;
                        font-weight: 700;
                        font-size: 16px;
                        color: #3d464d;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}









.admin-das-container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;

    .admin-das-parent {
        width: 100%;
        margin: 0 auto;
        padding-top: 40px;

        .admin-das-header {
            width: 100%;
            background-color: aqua;
            margin: 0 auto;
            padding: 15px 0;

            .admin-das-head {
                width: 40%;
                margin: 0 auto;


                ul {
                    display: flex;
                    justify-content: space-between;
                    height: 40px;
                    align-items: center;

                    li {
                        font-size: 22px;
                        padding: 8px 10px;
                        background-color: #d1cfcf;
                        border-radius: 5px;
                        cursor: pointer;

                    }

                    select {
                        font-size: 20px;
                        background-color: transparent;
                        border: 0;
                        padding: 8px 10px;
                        background-color: #d1cfcf;
                        border-radius: 5px;
                        
                    }
                }
            }
        }
    }
}


.admin-hom{
    width: 300px;
    background-color: rgb(87, 228, 228);
    border-radius: 5px;
    margin: 50px 0;
    padding: 14px 0;
    p{
        font-size: 17px;
        padding-bottom: 27px;
        padding-top: 14px;
        padding-left: 11px;
    }
    h3{
        font-size: 28px;
        padding-bottom: 30px;
        padding-left: 11px;
    }
}